@import "./abstracts/variables", "./abstracts/config", "./abstracts/responsive";
@import "./base/reset", "./base/typography";
@import "./vendors/fontawesome";

@import 
    "./components/buttons", 
    "./components/drinkPopup", 
    "./components/drinkSidebar",
    "./components/footer",
    "./components/header",
    "./components/keyframes";

@import 
    "./pages/customer",
    "./pages/login";

/* GLOBAL STYLES GO HERE */
.semantic-heading {
    @extend %offscreen;
}
    
body {
    min-height: 100vh;
    background-color: var(--GREEN-MED);
}

main {
    overflow: auto;
    background-color: var(--GREEN-MED);
}