.cart{
    position: static;
    width: 300px;
    z-index: 200;
    right: 0px;
    background-color: #F6FFF8;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart-orders{
    height: 55vh;
    overflow: auto;
    flex: 1;
}

.cart-title{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    height: 50px;
}

.cart-buttons{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 150px;
}

.cart-buttons-1{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    margin-top: 10px;
    background-color:var(--CONFIRM-COLOR);
    color: white;
    font-size: 30px;
    border-color: white;
}

.cart-buttons-1:hover{
    background-color: rgb(229, 119, 119);
}

.cart-buttons-2{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: white;
    color:var(--CONFIRM-COLOR);
    font-size: 30px;
    border-color:var(--CONFIRM-COLOR);
}

.cart-buttons-2:hover{
    background-color: var(--ON-HOVER);
}

.order{
    display: grid;
    grid-template-columns: 1fr 65px 35px;
    margin-bottom: 10px;
}

.order-text{
    font-size: 16px;
    margin-left: 20px;
}

.order-text-title{
    font-size: 20px;
    color: #6B9080;
}

.order-price{
    font-size: 20px;
}

.order-cancel{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.checkout{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 100px;
    font-size: 20px;
}

.checkout-title{
    margin-left: 20px;
}

.checkout-title-total{
    border-top: solid;
}

.checkout-price{
    margin-right: 30px;
    border-top: solid;
}