.inventory {
    margin: 30px 100px;
    display: flex;
    flex-flow: column nowrap;

    &__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__items {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        gap: 0.75rem;
        padding-top: var(--PADDING-SMALL);

        &-item {
            flex-basis: 200px;

            button {
                border-radius: 10px;
                display: grid;
                place-content: center;
                width: 100%;
                height: 136px;
                background-color: white;
                cursor: pointer;
                font-size: 18px;
            }
            
            p {
                text-align: center;
                color: black;
            }
        }
    }
}