@import './../../../scss/main.scss';

.inventory {
    margin: 30px 100px;
    display: flex;
    flex-flow: column nowrap;

    &__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        > button {
            color: var(--GREEN-DARK);
            display: grid;
            place-content: center;
            background-color: transparent;
            border: none;
            @include button-interact(transparent, var(--TEXT-SHADOW-DARK));
        }
    }

    &__items {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        gap: 0.75rem;
        padding-top: var(--PADDING-SMALL);

        &-item {
            flex-basis: 170px;

            > button {
                border-radius: 10px;
                display: grid;
                place-content: center;
                width: 100%;
                width: 170px;
                height: 120px;
                background-color: white;
                cursor: pointer;
                font-size: 18px;

                &.alert {
                    background-color: var(--ACCENT-COLOR-LIGHT);
                }
            }
            
            p {
                text-align: center;
                color: black;
            }
        }

        &-overlay {
            position: fixed;
            inset: 0;
            height: 100%;
            width: 100%;
            z-index: 1001;
            background-color: var(--POPUP-OVERLAY);
        }   

        &-popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1002;
            background-color: var(--TEXT-COLOR-LIGHT);
            width: clamp(400px, 70vw, 600px);
            box-shadow: var(--LOGIN-SHADOW);
            border-radius: var(--LOGIN-BORDER-RADIUS);
            padding-inline: var(--PADDING-LARGE);
            padding-top: var(--PADDING-MED);
            padding-bottom: var(--PADDING-MED-LARGE);

            display: flex;
            flex-flow: column nowrap;

            > button {
                color: var(--GREEN-DARK);
                font-size: 2.5rem;
                width: 36px;
                height: 36px;
                position: relative;
                left: 100%;
                transform: translateX(-100%);
                display: grid;
                place-content: center;
                background-color: transparent;
                border: none;
                @include button-interact(transparent, var(--TEXT-SHADOW-DARK));
            }

            &-field {
                display: grid;
                grid-template-columns: clamp(60px, 10vw, 100px) auto;
                gap: 1rem;
                padding: 1rem 0 1rem 1rem;
                align-items: center;
                
                label {
                    color: var(--GREEN-DARK);
                }

                input {
                    width: 100%;
                    background-color: var(--GREEN-MED60);
                    color: var(--TEXT-COLOR-DARK);
                    border: none;
                    padding: var(--PADDING-SMALL);
                }
            }

            &__buttons {
                display: flex;
                justify-content: flex-end;
                flex-flow: row nowrap;
                gap: 1rem;

                button {
                    height: 60px;
                }
        
                button:first-child {
                    width: 25%;
                    margin-top: var(--MARGIN-MED);
                    padding: var(--PADDING-SMALL);
                    border: var(--BORDER-ACCENT-DARK);
                    border-radius: var(--BUTTON-BORDER-RADIUS);
                    @include button-interact(var(--BUTTON-SHADOW-ACCENT), var(--TEXT-SHADOW-LIGHT));
                    background-color: var(--ACCENT-COLOR-DARK);
                    color: var(--TEXT-COLOR-LIGHT);
                }
        
                button:last-child {
                    width: 25%;
                    margin-top: var(--MARGIN-MED);
                    padding: var(--PADDING-SMALL);
                    border: var(--BORDER-DARK);
                    border-radius: var(--BUTTON-BORDER-RADIUS);
                    @include button-interact(var(--BUTTON-SHADOW), var(--TEXT-SHADOW-LIGHT));
                    background-color: var(--GREEN-DARK);
                    color: var(--TEXT-COLOR-LIGHT);
                }
            }
        }   
    }
}
