@mixin button-interact($box-shadow, $text-shadow) {
    transition: box-shadow 0.25s, text-shadow 0.25s, filter 0.15s;

    &:hover, &:focus-visible {
        box-shadow: $box-shadow;
        text-shadow: $text-shadow;
    }

    &:active {
        filter: brightness(0.9);
    }
}