.drinkSidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 93vh;
    width: clamp(175px, 22vw, 300px);
    background-color: var(--SIDEBAR-BG-COLOR);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 var(--PADDING-MED);
    padding-bottom: var(--PADDING-MED);

    &__panel {
        /* background-color: white; */
        flex-grow: 2;
        width: 100%;

        /* TODO */
    }

    &__header {
        text-align: center;
        font-size: var(--FONT-MED);
    }

    &__bill {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
        padding: var(--PADDING-SMALL) 0;
        width: 100%;
        color: var(--TEXT-COLOR-DARK);

        & p {
            padding: 0 var(--PADDING-SMALL);
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            & span {
                text-align: end;
            }
        }

        & p:last-child {
            border-top: var(--BORDER-DARK);
        }
    }

    &__btn {
        font-size: var(--FONT-MED-NORMAL);
        color: var(--TEXT-COLOR-LIGHT);
        background-color: var(--ACCENT-COLOR);
        width: 100%;
        height: 7%;
        border: none;
        border-radius: var(--BUTTON-BORDER-RADIUS);
        cursor: pointer;
        @include button-interact(var(--BUTTON-SHADOW-ACCENT), var(--TEXT-SHADOW-ACCENT));
    }
}