.drinks{
    height: 100%;
    width: 100%;
    padding-left: 80px;
    padding-top: 50px;
    background-color: var(--GREEN-MED); 
}

.drinks-selected{
    height: 100%;
    width: 100%;
    background-color: var(--GREEN-MED); 
    padding-left: 80px;
    padding-top: 50px;
    filter:brightness(20%);
}

.drinks-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    row-gap: 40px;
    column-gap: 20px;
}

.drinks-grid-drink{
    background-color: white;
    height: 136px;
    width: 200px;
    border-radius: 10px;
    // font-size: 18px;
    font-size: var(--FONT-NORMAL);
}
.drinks-grid-drink-low{
    filter: brightness(40%);
    height: 136px;
    width: 200px;
    border-radius: 10px;
    // font-size: 18px;
    font-size: var(--FONT-NORMAL);
}
.drinks-grid-drink-low:hover{
    //background-color: rgb(95, 94, 94);
    filter: brightness(30%);
    height: 136px;
    width: 200px;
    border-radius: 10px;
    // font-size: 18px;
    font-size: var(--FONT-NORMAL);
}

.drinks-grid-drink:hover {
    background-color: rgb(244, 244, 244);
  }