.nav{
    width: 180px;
    top: 40px;
    padding-left: 20px;
    padding-top: 30px;
    z-index: 295;
    //height: 94vh;
  }

  .nav-selected{
    width: 180px;
    z-index: 295;
    padding-left: 20px;
    padding-top: 30px;
    //filter: brightness(20%);
    color: red;
    height: 94vh;
  }

  .nav {
    &.active-link {
      @extend .nav-selected;
    }
  }
  .nav-bar{
    //overflow: auto;
    z-index: 295;
    font-size: 25px;
    //left: 120px;
    position: fixed;
    height: 100%;
    width: var(--NAVBAR-WIDTH);
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;*/
  }

  .nav-category{
    background-color: var(--SIDEBAR-BG-COLOR);
    height: 136px;
    width: var(--NAVBAR-WIDTH);
  }

  .active-link {
    color: #ff5733;
    font-weight: bold;
  }

  .nav-link {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
  }
  