/* IntroPage.css */
@import './../../scss/main.scss';
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
body .intro-page {
    
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

  }
.intro-grid-main{
    color: black;
}

.header-image{
    width: auto;
    height: 176px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

