.topping{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    min-width: 200px;
    min-height: 55px;
    // background-color: #6B9080;
    background-color: var(--GREEN-DARK);
    border-radius: 5px;
    align-items: center;
    justify-items: center;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
}

.topping-unavailable{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    min-width: 200px;
    min-height: 55px;
    background-color: var(--GRAY-DARK);
    border-radius: 5px;
    align-items: center;
    justify-items: center;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
}

.topping-name{
    color: white;
    // font-size: 18px;
    font-size: var( --FONT-NORMAL);
    text-align: center;
    line-height: 30px;
}

.topping-button{
    min-height: 45px;
    min-width: 45px;
    background-color: white;
    color: black;
    border-radius: 12px;
    font-size: var( --FONT-NORMAL);
}
.topping-button-unavailable{
    min-height: 45px;
    min-width: 45px;
    background-color:  var(--GRAY-MEDIAN);
    color: black;
    border-radius: 12px;
}
.topping-count{
    min-height: 13px;
    text-align: center;
    font-size: var( --FONT-NORMAL);
}

.toppings-box{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 30px;
    align-items: center;
    justify-items: center;
}

.customize, .low{
    width: 50vw;
    height: 90vh;
    background-color: var(--GREEN-MED);
    left: 20vw;
    position: absolute;
    top: 2vh;
    overflow: auto;
}

.customize-grid{
    height: 92%;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.ice, .sugar, .toppings{
    margin-bottom: 15px;
}

.ice-buttons, .sugar-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    font-size: var( --FONT-NORMAL);
}

.ice-button, .sugar-button{
    min-height: 45px;
    background-color: white;
    color: black;
}

.ice-button-selected, .sugar-button-selected{
    min-height: 45px;
    background-color: var(--GREEN-DARK);
    color: white;
}

.ice-button:hover, .sugar-button:hover, .topping-button:hover, .customize-confirm:hover{
    background-color: var(--ON-HOVER);
}
.ice-button:active, .sugar-button:active, .topping-button:active, .customize-confirm:active{
    background-color: var(--ON-ACTIVE);
}

.customize-drink, .low-title{
    text-align: center;
    // font-size: 25px;
    font-size: var( --FONT-MED-NORMAL);
    margin-top: 10px;
}

.ice-title, .sugar-title, .toppings-title{
    // font-size: 20px;
    font-size: var( --FONT-MED-NORMAL);
    margin-bottom: 5px;
    
}

.customize-confirm{
    position: absolute;
    right: 10px;
    min-width: 100px;
    min-height: 50px;
    background-color: white;
    font-size: var( --FONT-NORMAL);
}

.customize-confirm:hover{
    background-color: var(--ON-HOVER);
}

.customize-confirm:active{
    background-color: var(--ON-ACTIVE);
}

.customize-exit{
    position: absolute;
    background-color: var(--GREEN-MED60);
    border: none;
    // font-size: 40px;
    font-size: var( --FONT-MED);
    right: 15px;
    top: 0px;
    cursor: pointer;
}
.low-subtitle{
    // font-size: 20px;
    font-size: var( --FONT-NORMAL);
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}
.low-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: var( --FONT-NORMAL);
}
.low-item{
    width: 400px;
    display: grid;
    grid-template-columns: 180px 220px;
    text-align: center;
}