.footer{
    background-color: var(--GREEN-DARK) ;
    width: 100vw;
    position: fixed;
    min-height: 50px;
    // z-index: 1000;
    // margin-top: 94vh;
    align-items: center;
    display: flex;
    bottom: 0;
    z-index: 300;
    overflow-x: hidden;
    overflow-y: hidden;
}

.footer-button{
    flex: 1;
    min-height: 30px;
}

.footer-logout{
    margin-left: 20px;
    width: 100px;
    font-size: 20px;
}

.footer-time {
    color: white;
    font-size: var(--FONT-MED);
    //min-height: 30px;
    display: flex;
    align-items: center;
    width: 180px;
    padding-right: 10px;
}

.footer-weather {
    color: white;
    font-size: var(--FONT-MED);
    //min-height: 20px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.footer-weather i {
    cursor: pointer;
    margin-right: 10px;
    font-size: var(--FONT-MED); 
}

.footer-weather img {
    margin-left: 20px; 
}

.footer-weather p {
    margin-left: 10px;
    margin-right: 10px;
}