.footer{
    background-color: var(--GREEN-DARK) ;
    width: 100vw;
    position: fixed;
    min-height: 50px;
    // z-index: 1000;
    // margin-top: 94vh;
    align-items: center;
    display: flex;
    bottom: 0;
    z-index: 300;
}

.footer-button{
    flex: 1;
    min-height: 30px;
}

.footer-logout{
    margin-left: 20px;
    width: 100px;
    font-size: 20px;
}
.footer-time{
   width: 140px;
   color: white;
   font-size: 20px;
   min-height: 30px;
}

.footer-weather{
    justify-self: flex-start;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;

    i {
        padding-right: 0.75rem;
        font-size: var(--FONT-MED);
    }
}