// orderInfo.scss

.order-info-container {
    position: fixed;
    top: 55px;
    right: 30px;
    width: 350px;
    background: var(--WHITE);
    border: 1px solid var(--TEXT-COLOR-LIGHT);
    border-radius: 10px;
    padding: 10px;
    height: 585px;
    font-size: var(--FONT-NORMAL);
    .scrollable-content {
        max-height: 500px;
        overflow-y: auto;
        width: 100%;
        font-size: var(--FONT-NORMAL);
        .data-box {
            display: flex;
            align-items: center;
            background-color: #c9c6c5;
            border: 1px solid var(--GREEN-LIGHT);
            border-radius: 5px;
            margin: 10px 0;
            width: 100%; // Ensure the button spans the entire width
            padding: 10px; // Add padding within the button
        }
          .data-entry {
            flex: 1; //Distribute available space equally
            padding: 5px;
            text-align: center;
          }
          
      }
  }
  
  .order-id-box {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .order-time-box {
    //position: fixed;
    text-align: right;
    margin-bottom: 10px;
    //top: 65px;
    //right: 40px;
  }
  
  .order-total-box {
    text-align: right;
    margin-top: 10px;
    font-size:larger;
  }

  .filter-info {
    font-size: var(--FONT-MED-NORMAL);
  }
  .filter-info p {
    margin-top: 8px;
    margin-bottom: 8px; 
  }

  .filter-title {
    font-size: var(--FONT-MED-NORMAL);
    font-weight: bold;
    margin-bottom: 10px;
  }
  