/* basic helper functions, mixins, and placeholders go here */

%offscreen {
    position: absolute;
    left: -10000px;
}

%nowrap {
    white-space: nowrap;
}

@mixin flexbox($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

// more stuff later