/* For each HTML page, there will be respective scss file */

/* TESTING: vertical overflow works, but horizontal does not */

.customer {
    width: calc(100vw - clamp(175px, 22vw, 300px));
    height: 93vh;
    display: flex;
    flex-flow: column nowrap;
    padding: var(--PADDING-SMALL);

    &__category {
        width: auto;
        padding: var(--PADDING-SMALL);
        margin: var(--MARGIN-SMALL) var(--MARGIN-MED);
        /* background-color: white; */

        /* &-name {

        } */

        &-panel {
            overflow: auto;
            display: flex;
            flex-flow: row wrap;
            gap: 1.5rem;

            &-drink {
                display: inline-block;
                background-color: black;
                width: 100px;
                height: 100px;
                /* the rules above in this ruleset are temporary */
                /* flex-basis: ; */
            }
        }
    }
}