.order-history-container {
    font-family: Arial, sans-serif;
    padding: 20px;
  
    .header {
        display: flex;
        align-items: center;
        font-size: var(--FONT-MED-NORMAL);

        h2 {
          font-size: var(--FONT-MED-NORMAL);
        }
      
        .filter-button-container {
          margin-right: 380px;
        }
      
        .filter-button {
          background-color: var(--GREEN-DARK);
          color: var(--WHITE);
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: var(--FONT-MED-NORMAL);
        }
      
        .close-button {
          margin-left: 500px;
          font-size: var(--FONT-MED-NORMAL);
        }
      }      
      
  
    .main-container {
      display: flex;
      border: 1px solid var(--GRAY-LIGHT);
      //padding: 20px;
      background-color: var(--TEXT-COLOR-LIGHT);
      width: 70%;
      //margin-right: 400px;
      &-header {
        margin: 10px 0;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: center;
        padding: 0 30px;
        font-size: var(--FONT-NORMAL);

        h3 {
          flex-grow: 1;
          text-align: center;
        }
      }
  
      .scrollable-content {
        max-height: 500px;
        overflow-y: auto;
        width: 100%;
        .data-box {
            display: flex;
            align-items: center;
            background-color: var(--TEXT-COLOR-LIGHT);
            border: 1px solid var(--GRAY-LIGHT);
            border-radius: 5px;
            margin: 10px 0;
            width: 100%; // Ensure the button spans the entire width
            padding: 10px; // Add padding within the button
            cursor: pointer; // Change the cursor to indicate it's clickable
            font-size: var(--FONT-NORMAL);
          
            &:hover {
              background-color: var(--ON-HOVER); // Change background color on hover
            }
            &.selected {
              background-color: var(--SELECTED);
            }
            &.inactive{
                pointer-events: none;
                opacity: 0.5;
            }
        }
          .data-entry {
            flex: 1; //Distribute available space equally
            padding: 5px;
            text-align: center;
            font: var(--FONT-NORMAL);
          }
          
          .separator {
            padding: 0 10px; // Adjust the space between the two entries
            color: var(--GREEN-DARK40);
            font-weight: bold;
          }
          
      }
    }
  
    .right-column {
      flex: 1;
      border: 1px solid var(--GRAY-LIGHT);
      padding: 20px;
  
      h3 {
        margin: 10px 0;
      }
    }
  }

  .simple{
    font-size: var(--FONT-NORMAL);
  }
  