.manager-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;

    .footer {
        position: static;
    }
}

.manager {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    background-color: var(--GREEN-MED);
    display: grid;
    grid-template-columns: clamp(155px, 20vw, 175px) auto;
    overflow: auto;
}/*.manager-grid{
    display: grid;
    grid-template-rows: 94vh 6vh;
}

.manager-grid-main{
    display: grid;
    grid-template-columns: 180px 1fr 300px;
}*/

.container {
    z-index: 200;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    z-index: 290;
    flex: 1;
    //margin-left: -240px;
    color: black;
    //overflow-y: scroll;
    padding-left: 240px;
  }
