.footer{
    background-color: #6B9080 ;
    width: 100vw;
    position: absolute;
    height: 6vh;
    // z-index: 1000;
    // margin-top: 94vh;
    align-items: center;
    display: flex;
    bottom: 0;
    z-index: 300;
}

.footer-button{
    flex: 1;
    min-height: 30px;
}

.footer-logout{
    margin-left: 20px;
    height: 4.5vh;
    width: 100px;
    font-size: 20px;
}
.footer-time{
   width: 100px;
   color: white;
   font-size: 20px;
   min-height: 20px;
}