footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 7vh;
    width: 100%;
    background-color: var(--GREEN-DARK);
    z-index: 1;

    /* GONNA HAVE A LOT MORE STUFF 
        - weather
        - time
        - translate
        - icons (fontawesome) 
    */
}