.background{
  background-color: var(--GREEN-MED60);
}
.main-content {
    z-index: 290;
    flex: 1;
    padding-left: var(--NAVBAR-WIDTH);
    padding-right:var(--NAVBAR-WIDTH);
    margin-left: 30px;
    //width: 100%;
    color: var(--POPUP-OVERLAY);
    overflow-y: scroll;
    height: 100vh;
  }

 .section {
    position: relative;
    margin: 30px 100px;
    flex-wrap: wrap;
    gap: 10px;
    font: inherit;
    background-color: var(--GREEN-MED60);
  }
  .section-icon-button {
    z-index: 500;
    position: absolute;
    top: 10px; 
    right: 30px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
  }
  
  .ullabel {
    list-style: none;
    padding: 0;
  }
  
  .lisection {
    display: inline-block;
    margin: 5px; //separates buttons
    cursor: pointer; //add cursor pointer for buttons
  }

  .buttonatr {
    z-index: 296;
    background-color: var(--TEXT-COLOR-LIGHT);
    height: 136px;
    width: 200px;
    border-radius: 10px;
    font-size: var(--FONT-NORMAL);
    cursor:pointer;
  }


  h1{
    font-size: var(--FONT-MED-NORMAL);
  }
  h2{
    font-size: var(--FONT-MED-NORMAL);
  }