.nav{
    width: 180px;
    z-index: 200;
    height: 94vh;
  }

  .nav-selected{
    width: 180px;
    z-index: 200;
    filter: brightness(20%);
    height: 94vh;
  }

  .nav-bar{
    overflow: auto;
    font-size: 25px;
    height: 100%;
    width: 180px;
  }

  .nav-category{
    background-color: #F6FFF8;
    height: 136px;
    width: 100%;
  }

  .nav-category-0{
    background-color: var(--RED);
  }
  .nav-category-1{
    background-color: var(--GREEN);
  }
  .nav-category-2{
    // background-color: var(--GREEN-LIGHT);
    background-color: var(--GRAY-LIGHT);
  }
  .nav-category-3{
    background-color: var(--BLUE);
  }
  .nav-category-4{
    background-color: var(--ORANGE);
  }
  .nav-category-5{
    background-color: var(--PURPLE);
  }
  .nav-category-6{
    background-color: var(--PINK);
  }
  .nav-category-7{
    background-color: var(--SKY-BLUE);
  }
  .nav-category-8{
    background-color: var(--YELLOW);
  }

  .nav-category:hover{
    // filter: brightness(85%);
    background-color: white;
    border: var(--BORDER-ACCENT);
    border-width: 5px;
  }
