.nav{
    position: fixed;
    width: 180px;
    z-index: 200;
  }

  .nav-selected{
    position: fixed;
    width: 180px;
    z-index: 200;
    filter: brightness(20%);
  }

  .nav-bar{
    overflow: scroll;
    font-size: 25px;
    height: 100vh;
  }

  .nav-category{
    background-color: #F6FFF8;
    height: 136px;
    width: 100%;
  }

  .nav-category:hover{
    background-color: #d5e7d9;
  }
