/* basic helper functions, mixins, and presets go here */

/**************** HELPERS ****************/
%offscreen {
    position: absolute;
    left: -10000px;
}

%nowrap {
    white-space: nowrap;
}

